# Domain email untuk pembuatan akun (pisahkan dengan koma)
DOMAINS=plexai.xyz

# API key mail server untuk auto-ambil OTP
# Endpoint: https://mail.gopretstudio.com
MAIL_API_KEY=GOMAIL-FqcmbaAGbPnwHIxKElNq
MAIL_BASE_URL=https://mail.gopretstudio.com
